form{
    /* border: 1px solid red; */
    background: rgba(0, 0, 0, 0.832);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.22rem;
}

form input{
    margin: 0.2rem 1rem;
}

form select{
    margin: 0.2rem 1rem;
    font-size: 1.22rem;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
